{
    "name": "romwaldtff/php-mvc-sample",
    "require": {
        "twig/twig": "^2.0"
    },
    "autoload": {
        "psr-0": {
            "": [
                "controller/",
				"controller/common/",
                "dao/",
                "entities/",
                "routes/",
                "routes/common/",
                "rest/",
                "view/"
            ]
        }
    }
}
