{
    "name": "romwaldtff/php-mvc-sample",
    "require": {
        "twig/twig": "^2.0"
    },
    "autoload": {
        "psr-0": {
            "": [
                "controller/",
                "repository/",
                "model/",
                "route/",
                "route/common/",
                "view/"
            ]
        }
    }
}
