{% include './layout/header.twig' %}
	<!-- Page content -->
	<div class="jumbotron">
<div class="container">
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                   <h4><span class="glyphicon glyphicon-home"></span>&nbsp; Home</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
#foreach( $entity in $selectedEntities )
                        <li class = "list-group-item list-group-item-action">
                            <a href="./${fn.uncapitalize($entity.name)}">${fn.capitalize($entity.name)}</a>
                        </li>
#end ## end foreach
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>
{% include './layout/footer.twig' %}