{% include './layout/header.twig' %}
#set ( $uncapEntityName = ${fn.uncapitalize($entity.name)} )
<!-- Page content -->
<div class="jumbotron">
    <div class="container">
        <div class="container">
            <form class="form-horizontal" method="post" id="${uncapEntityName}_form">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <!-- ---------- HEAD : TITLE with BUTTONS [List] and [Create] -->
                        <div class="panel-heading">
                            <h4>
                                <span class="glyphicon glyphicon-file"></span>
                                <span class="font-weight-bold">&nbsp; Create ${fn.capitalize($entity.name)}</span>
                                <div class="pull-right"> <!-- Buttons -->
                                    <!-- [List] -->
                                    <a href="../../${uncapEntityName}" title="Go to list">
                                        <button type="button" class="btn btn-primary "> <span class="glyphicon glyphicon-list"></span> List</button></a>
                                </div>
                            </h4>
                        </div>

                        <!-- ---------- FIELDS -->
                        <div class="panel-body">
#foreach( $attribute in $entity.keyAttributes )
    					<div class="form-group">
                            <label for="${attribute.name}" class="col-sm-2">${attribute.name} *</label>
                            <div class="col-sm-8">
                                <input id="${attribute.name}" class="form-control" name='${attribute.name}' />
                            </div>
                        </div>
#end
#foreach( $attribute in $entity.nonKeyAttributes )
    					<div class="form-group">
                            <label for="${attribute.name}" class="col-sm-2">${attribute.name} </label>
                            <div class="col-sm-8">
                                <input id="${attribute.name}" class="form-control" name='${attribute.name}' />
                            </div>
                        </div>
#end
                    </div>
                        <!-- ---------- BUTTONS [Save] and [Delete] -->
                        <div class="panel-footer text-center">
                        <a href="../../${uncapEntityName}/create">
                            <button type="submit" formaction="../../${uncapEntityName}/create" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% include './layout/footer.twig' %}