{% include './layout/header.twig' %}
#set ( $uncapEntityName = ${fn.uncapitalize($entity.name)} )
#set ( $keyAttribs = "" )
#foreach( $attribute in $entity.keyAttributes )
#if( $foreach.count < 2 )
#set( $keyAttribs = "{{ " + ${uncapEntityName}+"."+${attribute.name} + " }}" )
#else
#set( $keyAttribs = $keyAttribs +"/{{ " + ${uncapEntityName}+"."+${attribute.name} + " }}" )
#end ## end if
#end ## end foreach
<div class="container">
    <h2></h2>
    <div class="container">
        <form class="form-horizontal" method="post" id="${uncapEntityName}_form">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>
                            <span class="glyphicon glyphicon-leaf"></span>
                            Update ${fn.capitalize($entity.name)}
                            <a href="../${uncapEntityName}/form">
                                <button type="button" formaction="../../${uncapEntityName}/form" class="btn btn-default pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </a>
                            <a href="../${uncapEntityName}">
                                <button type="button" formaction="../../${uncapEntityName}" class="btn btn-link pull-right">
                                    List
                                </button>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
#foreach( $attribute in $entity.keyAttributes )
    					<div class="form-group">
                            <label for="${attribute.name}" class="col-sm-2">${attribute.name} *</label>
                            <div class="col-sm-8">
								<h5>{{ ${uncapEntityName}.${attribute.name} }}</h5>
								<input type="hidden" id="${attribute.name}" class="form-control" name='${attribute.name}' value="{{ ${uncapEntityName}.${attribute.name} }}"/>
                            </div>
                        </div>
#end
#foreach( $attribute in $entity.nonKeyAttributes )
    					<div class="form-group">
                            <label for="${attribute.name}" class="col-sm-2">${attribute.name} </label>
                            <div class="col-sm-8">
                                <input id="${attribute.name}" class="form-control" name='${attribute.name}' value="{{ ${uncapEntityName}.${attribute.name} }}"/>
                            </div>
                        </div>
#end
                    </div>
                    <div class="panel-footer">
                        <a href="../../${uncapEntityName}/delete/${keyAttribs}">
                            <button type="button" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                        </a>
                        <a href="../../${uncapEntityName}/update">
                            <button type="submit" formaction="../../${uncapEntityName}/update" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% include './layout/footer.twig' %}