{% include './layout/header.twig' %}
#set ( $uncapEntityName = ${fn.uncapitalize($entity.name)} )
#set ( $keyAttribs = "" )
#foreach( $attribute in $entity.keyAttributes )
#if( $foreach.count < 2 )
#set( $keyAttribs = "{{ " + ${uncapEntityName}+"."+${attribute.name} + " }}" )
#else
#set( $keyAttribs = $keyAttribs +"/{{ " + ${uncapEntityName}+"."+${attribute.name} + " }}" )
#end ## end if
#end ## end foreach
<!-- Page content -->
<div class="jumbotron">
    <div class="container">
        <div class="container">
            <form class="form-horizontal" method="post" id="${uncapEntityName}_form">
                <div class="panel-group">
                    <div class="panel panel-info">

                        <!-- ---------- HEAD : TITLE with BUTTONS [List] and [Create] -->
                        <div class="panel-heading">
                            <h4>
                                <span class="glyphicon glyphicon-file"></span>
                                <span class="font-weight-bold">&nbsp; Update ${fn.capitalize($entity.name)}</span>
                                <div class="pull-right"> <!-- Buttons -->
                                    <!-- [List] -->
                                    <a href="../../${uncapEntityName}" title="Go to list">
                                        <button type="button" class="btn btn-primary "> <span class="glyphicon glyphicon-list"></span> List</button></a>
                                    &nbsp;
                                    <!-- [Create] -->
                                    <a href="../../${uncapEntityName}/form" title="Create a new author">
                                        <button type="button" class="btn btn-success "><span class="glyphicon glyphicon-plus"></span> Create</button></a>
                                </div>
                            </h4>
                        </div>

                        <!-- ---------- FIELDS -->
                        <div class="panel-body">
#foreach( $attribute in $entity.keyAttributes )
    					<div class="form-group">
                            <label for="${attribute.name}" class="col-sm-2">${attribute.name} *</label>
                            <div class="col-sm-8">
								<h5>{{ ${uncapEntityName}.${attribute.name} }}</h5>
								<input type="hidden" id="${attribute.name}" class="form-control" name='${attribute.name}' value="{{ ${uncapEntityName}.${attribute.name} }}"/>
                            </div>
                        </div>
#end
#foreach( $attribute in $entity.nonKeyAttributes )
    					<div class="form-group">
                            <label for="${attribute.name}" class="col-sm-2">${attribute.name} </label>
                            <div class="col-sm-8">
                                <input id="${attribute.name}" class="form-control" name='${attribute.name}' value="{{ ${uncapEntityName}.${attribute.name} }}"/>
                            </div>
                        </div>
#end
                    </div>
                        <!-- ---------- BUTTONS [Save] and [Delete] -->
                        <div class="panel-footer">
							<a href="../../${uncapEntityName}/delete/${keyAttribs}">
                            	<button type="button" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</button>
							</a>                            
							<button type="submit" formmethod="post" formaction="../../${uncapEntityName}/update"  class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% include './layout/footer.twig' %}